.libre-baskerville-regular {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
  }

body {
	text-align: center;
	background-color: #171717;
    background-image: url(../img/debg1.jpg);
    
    background-size: cover;
    font-family: "Libre Baskerville", serif;
	font-size: 16px;
    color: #ececec;
	line-height: 1.5em;
}
#container {
	max-width: 300px;
	margin-right: auto;
	margin-left: auto;
	text-align: left;
	background-color: #333333;
    opacity:0.6;
	margin-top: 20px;
	border: 1px solid #CCC;
}

img {
	width: 300px;
}
nav a {
	color:#CC5500;

}